body {
    background-color: #f7f7f7;
    font-family: 'McLaren', sans-serif;
    text-align: center;
}

h1 {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 35px;
    color: #7E5E5E;
}

#mood {
    color: #c75a5a;
}

#board {
    border:solid;
    border-color: #6F4A20;
    width:80%;
    height:75vh;
    margin:auto;
    font-size:16px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #C09C9C;
    border-radius: 8px 8px 0 0;
}

/* board */
#addEntry {
    margin: 13px;
    margin-left:20px;
    padding: 5px 10px;
    background-color: #d9d9d968;
    font-family: 'McLaren', sans-serif;
    font-size:16px;
    color: #F9F9F9;
    border:none;
    border-radius:5px;
}

#addEntry:hover {
    background-color: #d9d9d950;
}

#addEntry:active {
    background-color: #d9d9d92e;
}

#date {
    margin: 13px;
    margin-right:33px;
    padding: 5px 0;
    color: #F9F9F9;
}

#calendar {
    height: 65%;
    margin: 30px;
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-template-columns: 12% 88%;
}

#days {
    margin:2px;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    column-gap: 1.5px;
}

#boxes {
    border:solid #574a3c9c;
    border-radius:5px;
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#months {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 1.5px;
    margin:2px;
}

.day {
    padding: 4px 0;
    background-color: #C09C9C;
    border-radius:3px;
    color: #F9F9F9;
    font-size: 13px;
}

.month {
    text-align:right;
    padding: 3px 10px;
    background-color: #C09C9C;
    border-radius:5px;
    color: #F9F9F9;
    font-size: 13px;
}

.box{
    border: 0.5px solid #574a3c3a; 
    background-color:#cbc8c82c;
}

.firstCol { border-left: 0; }
.lastCol { border-right: 0; }
.firstRow { border-top: 0; }
.lastRow { border-bottom: 0; }

/* color slider */

#colorSlider, #entry {
    width: 60%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
  }

input::-webkit-slider-runnable-track {
    width: 100%;
    height: 23px;
    background: linear-gradient(to right, #802929, #FCD8D8 70%, #FFFFFF 100%);
    border-radius: 7px;
    border: 1px solid #010101;
}

#slide::-webkit-slider-thumb{
    -webkit-appearance: none;
}

#slideLabels {
    display: flex;
    margin: 0 4px;
    justify-content: space-between;
}

#slideLabels h2 {
    margin: 0;
    font-size: 15px;
    font-family: 'McLaren', sans-serif;
}

/* adding an entry */
#popup {
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

#datePopup {
    margin-top: -10px;
    margin-bottom: 10px;
}

#picker::-webkit-slider-runnable-track{
    cursor: pointer;
}

#picker::-webkit-slider-thumb{
    border: 1px solid black;
    height: 20px;
    width: 10px;
    border-radius: 25px;
    background-color: #FFFFFF;
    opacity: 80%;
    cursor: pointer;
    -webkit-appearance: none;

}
  